@model IEnumerable<EmagClone.Entities.Product>

@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Latest products:</p>
        <br />
        <hr />
        <br />
        @{ 
            var i = 0;
        } 
        @foreach (var item in Model)
        {
            if (i == 4)
            {
                break;
            }
            i += 1;
            <div>
                @Html.DisplayFor(modelItem => item.Name)
            </div>
            <div>
                @Html.DisplayFor(modelItem => item.Seller.UserName)
            </div>
            <br />
            <hr />
            <br />
        }
    </div>
