@model IEnumerable<EmagClone.Entities.Product>

@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Latest products:</p>
        @*@foreach (var item in Model)
        {
                <div>
                    @Html.DisplayFor(modelItem => item.Name)
                </div>
                <div>
                    @Html.DisplayFor(modelItem => item.Seller.UserName)
                </div>
        }*@
    </div>
