@model IEnumerable<EmagClone.Entities.Product>
@*@model EmagClone.Entities.User*@

@{
    ViewData["Title"] = "Listed products";
}

<h1>Listed products</h1>

@foreach(var item in Model)
{
    @item.Name;
}